<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
	<%= image_tag(@product.image_url, class: 'show_list_image') %>
</p>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
